.about{
  display: flex;
  height: 100%;
  &__sidebar{
    border-right: 1px solid $stroke;
    min-width: 240px;
  }
}
.sidebar{
  &__item{
    padding: 1px 1px 1px 5px;
    position: relative;
    &:before{
      content: url("/src/assets/img/main/markdown.svg");
      display: block;
      position: absolute;
      left: -20px;
    }
  }
  &__items{
    border-bottom: 1px solid $stroke;
    padding: 5px 5px 5px 25px;
  }
  &__header{
    font-weight: bold;
    border-bottom: 1px solid $stroke;
    padding: 5px 5px 5px 25px;
    position: relative;
    &:before{
      content: url("/src/assets/img/main/down-arrow.svg");
      display: block;
      position: absolute;
      left: 6px;
    }

  }
}
.tab{
  width: 100%;
  overflow: hidden;
  &__items{
    display: flex;
    border-bottom: 1px solid $stroke;
  }
  &__item{
    padding: 4px 25px;
    color: $nav-font-color;
    border-right: 1px solid $stroke;
    position: relative;
    &:before{
      content: url("/src/assets/img/main/markdown.svg");
      display: block;
      position: absolute;
      left: 3px;
      top: 6px;
    }
    &:after{
      content: url("/src/assets/img/main/exit.svg");
      display: block;
      position: absolute;
      right: 0px;
      top: 6px;;
    }
  }
  &__object{
    padding: 5px 20px 5px 20px;
    border-right: 1px solid $stroke;
    height: 100%;
  }
  &__objects{
    display: flex;
    height: 100%;
  }
}