.contact-me{
  display: flex;
  height: 100%;
  @media screen and (max-width: 768px) {
    display: block;
  }
  &__sidebar{
    border-right: 1px solid $stroke;
    min-width: 240px;
  }
  &__tab{
    width: 100%;
    overflow: hidden;
  }
  &__input{
    padding: 10px;
    background-color: #011221;
    border: 1px solid #1E2D3D;
    border-radius: 8px;
    color: #FFFFFF;
  }
  &__button{
    margin-top: 20px;
  }
  &__code{
    margin-top: 40px;
    color: #5565E8;
  }
}