.main{
  display: flex;
  justify-content: space-around;
  &__article{

  }
  &__text{
    color: #607B96;
    a{
      text-decoration: none;
    }
  }
  &__img{
    width: 400px;
    height: 400px;
    overflow: hidden;
  }
}