.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  height: 100%;
  h2{
    font-size: 62px;
  }
  h4{
    font-size: 18px;
  }
  h3{

  }
  &__article{
    @media screen and (max-width: 768px) {
      margin-left: 30px;
    }
  }
  &__text{
    color: #607B96;
    font-size: 16px;

  }
  &__profile{
    position: relative;
    z-index: 1;
    &_background{
      position: absolute;
      top: -234px;
      left: -371px;
      z-index: -3;
      background-image: url('/src/assets/img/main/background.png');
      background-repeat: no-repeat;
      background-position: 0, 0;
      background-size: cover;
      width: 1000px;
      height: 1000px;

    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__img{
    width: 400px;
    height: 480px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    position: relative;
    @media screen and (max-width: 768px){
      display: none;
    }
  }
}